.logo{
    background-image: url('/MVP2/images/featured_courses_background.png');
    background-size: cover;
    background-position: center center;
    background-color: #f9f9f9;
    .container-fluid{
        padding: 5rem 2rem;
        max-width: 100%;
        width: 117rem;
    }
    &__list{
        max-width: 100%;;
    }
    &__item{
        @include flex(center, center);
        @include size(15rem);
    }
}