$primary-font: 'Roboto', sans-serif;
$primary-color: #07294d;
$secondary-color: #ffc600;
$text-color: #7a7a7a;
$gray-color: #8a8a8a;
$violet--color: #f6316f;
$light-blue--color: #4886ff;
$limon--color: #b5d56a;
$avocado--color: #009688;
$pink-red--color: #ff6f6f;
